.seccionDerecha
{
    position: relative;
    display: flex;
    flex:6;
    background-image: url("./fondoMensaje.jpg");
    border: var(--color-border);
    align-content: center;
    justify-content: center;
    align-items: center;
}
