.seccionMitad
{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 5;
    background-color: var(--color-seccion-centro);
    min-width: 400px;
    border: var(--color-border);
}